body {
    background-image: url('https://wallpapercave.com/wp/wp2593850.jpg');
    background-size: cover;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 20px;
    font-size: 3em;
    color: #ffde00; /* Pokémon Yellow */
    text-shadow: 2px 2px #3b4cca; /* Pokémon Blue */
}

canvas {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid #ffde00;
    box-shadow: 0 0 20px #ffde00;
}